BOT_TOKEN=8645122183:AAE7SCI9kvdbDvzwi50doHaIu-gdP-qtMfw
BOT_ENABLED=true
SUPER_ADMIN_IDS=1691654877
DATABASE=data/wb_trainer.db
DATABASE_URL=sqlite+aiosqlite:///data/wb_trainer.db
MINI_APP_URL=https://wbtrainer-bothost.tech
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8000
TELEGRAM_INIT_DATA_MAX_AGE=3600
ATTEMPT_TTL_HOURS=24
SESSION_SECRET=8QHV9gqbxAInb5hMZALJNNGjNDDwjGYw73RcD7tT0QehNjcD-aysBXMYJsBOtSl-
ENVIRONMENT=production
CORS_ORIGINS=https://wbtrainer-bothost.tech
DEV_AUTH_ENABLED=false
